QMainWindow {
    background-color: white;
}

QPushButton#criticalButton {
    background-color: #FF6347;
    color: white;
}

QPushButton#okButton {
    background-color: #0078d4;
    color: white;
}

QPushButton#aiSendBtn {
    background-color: #0078d4;
    color: white;
}
